$yellow: #FFDC00;
$green: #42CC52;
$white: #FFFFFF;

.App {
  text-align: center;
  background-image: linear-gradient(-70deg, #001f3f, #85144b);
  padding-top: 3em;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.chord-grid {
  flex: 1 0 auto;
  display: flex;
  flex-flow: row wrap;
  .chord {
    display: flex;
    flex: 1;
    height: 200px;
    border: solid 2px $white;
    border-radius: 5px;
    margin: 5px 0;
    background-color: transparent;
    box-shadow: 2px 3px #444;
    &:hover {
      border: solid 2px #FFF;
    }

    &::after {
      clear: both;
    }

    .chord-background {
      flex: 3;
      display: flex;
      &:hover {
        font-size: 1.1em;
      }

      &.active {
        background-color: $green;
        font-weight: bold;
      }

      &.suggested {
        background-color: $yellow;
        font-weight: bold;
      }
    }

    .chord-display {
      flex: 1;
      justify-content: center;
      align-self: center;
      font-size: 4em;
      color: $white;
    }

    .mode-selector {
      flex: 1;
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 25%;
      float: right;
      background-color: inherit;
      .major {
        width: 100%;
        display: flex;
        flex: 1;
        border-left: solid 1px $white;
        border-bottom: solid 1px $white;
        padding: 5px;
        background-color: transparent;
        &.selected {
          border: none;
          font-weight: bold;
          &.active {
            background-color: $green;
          }

          &.suggested {
            background-color: $yellow;
          }
        }
      }
      .minor {
        width: 100%;
        display: flex;
        flex: 1;
        border-left: solid 1px $white;
        border-top: solid 1px $white;
        border-bottom: solid 1px $white;
        padding: 5px;
        background-color: transparent;
        &.selected {
          border: none;
          font-weight: bold;
          &.active {
            background-color: $green;
          }
          &.suggested {
            background-color: $yellow;
          }
        }
      }
      .diminished {
        width: 100%;
        display: flex;
        flex: 1;
        border-left: solid 1px $white;
        border-top: solid 1px $white;
        padding: 5px;
        background-color: transparent;
        &.selected {
          border: none;
          font-weight: bold;
          &.active {
            background-color: $green;
          }
          &.suggested {
            background-color: $yellow;
          }
        }
      }
      .mode-display {
        flex: 1;
        flex-direction: column;
        justify-content: center;
        align-self: center;
        color: $white;
      }
    }

  }
}

.plain-link {
  text-decoration: none;
  color: inherit;
  &:hover {
    color: inherit;
  }
}

.footer-wrapper {
  flex-shrink: 0;
  .footer {
    margin: 3em 2em;
    color: $white;
    .swatch {
      height: 1em;
      width: 1em;
      border-radius: 50%;
      display: inline-block;
      margin: 0 5px -2px 5px;
      &.green {
        background-color: $green;
      }
      &.yellow {
        background-color: $yellow;
      }
    }
  }
}
