.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.chord-grid {
  display: flex;
  // flex-wrap: wrap;
  flex-flow: row wrap;
  .chord {
    flex: 1;
    height: 200px;
    border: solid 2px black;
    border-radius: 5px;
    margin: 5px 0;

    &.active {
      background-color: limegreen;
    }

    &.suggested {
      background-color: yellow;
    }

    &::after {
      clear: both;
    }

    .mode-selector {
      height: 100%;
      float: right;
      background-color: inherit;
      // border: solid 1px black;
      .major {
        height: 50%;
        border-bottom: solid 1px black;
        border-left: solid 1px black;
        padding: 5px;
        background-color: white;
        &.selected {
          border: none;
          background-color: inherit;
          box-shadow: 2px 2px 5px #888888;
        }
      }
      .minor {
        height: 50%;
        border-top: solid 1px black;
        border-left: solid 1px black;
        padding: 5px;
        background-color: white;
        &.selected {
          border: none;
          background-color: inherit;
          box-shadow: 2px 2px 5px #888888;
        }
      }
    }

  }
}
