.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.chord-grid {
  display: flex;
  flex-flow: row wrap;
  .chord {
    display: flex;
    flex: 1;
    height: 200px;
    border: solid 2px black;
    border-radius: 5px;
    margin: 5px 0;
    box-shadow: 2px 3px #999;

    &.active {
      background-color: limegreen;
    }

    &.suggested {
      background-color: yellow;
    }

    &::after {
      clear: both;
    }

    .chord-display {
      flex: 1;
      justify-content: center;
      align-self: center;
      font-size: 3em;
    }

    .mode-selector {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 25%;
      float: right;
      background-color: inherit;
      .major {
        width: 100%;
        flex: 1;
        border-left: solid 1px black;
        border-bottom: solid 1px black;
        padding: 5px;
        background-color: white;
        &.selected {
          border: none;
          background-color: inherit;
        }
      }
      .minor {
        width: 100%;
        flex: 1;
        border-left: solid 1px black;
        border-top: solid 1px black;
        border-bottom: solid 1px black;
        padding: 5px;
        background-color: white;
        &.selected {
          border: none;
          background-color: inherit;
        }
      }
      .diminished {
        width: 100%;
        flex: 1;
        border-left: solid 1px black;
        border-top: solid 1px black;
        padding: 5px;
        background-color: white;
        &.selected {
          border: none;
          background-color: inherit;
        }
      }
      .mode-display {
        flex: 1;
        justify-content: center;
        align-self: center;
      }
    }

  }
}

.plain-link {
  text-decoration: none;
  color: inherit;
  &:hover {
    // text-decoration: none;
    color: inherit;
  }
}

.footer {
  margin: 3em;
}
